@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
	--first-color: #040518;
	--second-color: #09182F;
	--third-color: #31405D;
	--fourth-color: #6B7E9E;
	--fifth-color: #F1C8AE;
	--sixth-color: white;
}

/* 
	#E4E2E2;
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Raleway", "Segoe UI", "Geneva", "Verdana", "sans-serif";
	color: black;
	line-height: 1.5;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

/* Navbar */
.navbar {
	background-color: var(--first-color);
	color: var(--sixth-color);
	height: 70px;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: var(--sixth-color);
	padding: 15px;
	margin: 0 5px;
}

.navbar a:hover {
	border-bottom: 2px var(--sixth-color) solid;
}

.navbar .flex {
	justify-content: space-between;
}

/* Showcase */
.showcase {
	height: 330px;
	background-color: var(--second-color);
	color: var(--sixth-color);
	position: relative;
}

.showcase h1 {
	font-size: 40px;
}

.showcase p {
	margin: 20px 0;
}

.showcase a {
	color: var(--fifth-color);
}

.showcase::before, 
.showcase::after{
	content: '';
	position: absolute;
	height: 125px;
	bottom: -70px;
	right: 0px;
	left: 0px;
	background: var(--fifth-color);
	transform: skewY(-3deg);
}

/* about */
.about {
	height: 400px;
	background-color: var(--fourth-color);
	color: var(--sixth-color);
	position: relative;
}

.about h1 {
	text-align: center;
	font-size: 50px;
}

.about a {
	color: white;
	text-decoration: underline;
	text-decoration-thickness: 5%;
}

/* website */
.website {
	height: 400px;
	background-color: var(--fourth-color);
	color: var(--sixth-color);
	position: relative;
}

.website h1 {
	text-align: center;
	font-size: 50px;
}

.website a {
	color: white;
	text-decoration: underline;
	text-decoration-thickness: 5%;
}

/* content */
.content {
	height: 700px;
	background-color: var(--fifth-color);
	color: var(--second-color);
	position: relative;
}

.content h1{
	font-size: 40px;
}

.content p a {
	text-decoration: underline;
	text-decoration-thickness: 5%;
}

.content a {
	color: var(--second-color);
}

/* Welcome */
.welcome {
	background-color: var(--second-color);
	min-height: 100%;
	font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
	font-size: 3rem;
	color: var(--sixth-color);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome h1 {
	font-size: 175%;
}

/* Utilities */
.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
	align-items: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 500px;
	height: 100%;
}

.floatl {
	float: left;
	margin-right: 20px;
}

.floatr {
	float: right;
	margin-right: 20px;
}

/* Footer */
.footer {
	background-color: var(--first-color);
	color: var(--sixth-color);
	padding: 3rem 0;
}

.footer .social a {
	margin: 0 10px;
}

.footer a {
	color: var(--sixth-color);
}

.cgrid-2 {
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(2, 1fr);
}

.cgrid-3 {
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
}

.quote {
	font-size: 27.5px;
	font-weight: bold;
}

.quotetext {
	padding-top: 150px;
	text-align: center;
}