/* Tablets and Under*/
@media(max-width: 768px) {
    .container {
        text-align: center;
    }

    .flex {
        padding: 0 10px;
    }

    .grid, 
    .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
        padding-bottom: 50px;
    }

    .showcase-text {
        text-align: center;
        margin: 40px;
    }

    .content {
        height: auto;
        padding-bottom: 30%;
    }

    .floatl {
        float: none;
        margin-right: none;
    }

    .navbar .flex {
        justify-content: center;
    }

    .footer {
        padding: 5% 0;
    }

    .footer li {
        display: inline;
        padding: 10px
    }

    .logo {
        padding: 20px 0;
    }
    
    h1, p{
        margin: 0px;
    }

    ul {
        padding-top: 10px;
    }

    div.social {
        padding-top: 10px;
    }
}
/* Mobile */

@media(max-width: 500px) {
    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rbga(0,0,0,0.1);
    }

    .navbar a {
        padding: 20px;
        margin: 0 0px;
    }

}