<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="description" content="Hello, I'm Vihaan Dutta. This is who I am.">
      <meta name="author" content="Vihaan Dutta">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="/static/stylesheets/main-style.css">
      <link rel="stylesheet" href="/static/stylesheets/media-query-style.css" />
      <title>Hi, I'm Vihaan.</title>
   </head>
   <body>
      <!-- Navbar -->
      <div class="navbar">
         <div class="container flex">
            <h1 class="logo">Vihaan</h1>
            <nav>
               <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/statistics">Statistics</a></li>
               </ul>
            </nav>
         </div>
      </div>
      <div class="welcome">
         <h1>Hi, I'm Vihaan.</h1>
      </div>
      <!-- Footer -->
      <footer class="footer">
         <div class="container grid cgrid-3">
            <div>
               <h1>Vihaan</h1>
               <p>Copyright &copy; 2021</p>
            </div>
            <nav>
               <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/statistics">Statistics</a></li>
               </ul>
            </nav>
            <div class="social">
               <a href="https://github.com/vihdutta" target="_blank"><i class="fab fa-github fa-2x"></i></a>
               <a href="twitter" target="_blank"><i class="fab fa-discord fa-2x"></i></a>
               <a href="https://www.instagram.com/vihaan_dutta/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
         </div>
      </footer>
   </body>
</html>