<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hello, I'm Vihaan Dutta. This is who I am."
    />
    <meta name="author" content="Vihaan Dutta" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/stylesheets/main-style.css" />
    <link rel="stylesheet" href="/static/stylesheets/media-query-style.css" />
    <link rel="stylesheet" href="/static/stylesheets/fades.css" />
    <title>Hi, I'm Vihaan.</title>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Home</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/webapps">Web Apps</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Content: Welcome -->
    <section class="welcome">
      <div class="fade-in">
        <h1>Hi, I'm Vihaan.</h1>
      </div>
    </section>
    <!-- Content: About -->
    <section class="topics">
      <div class="topic">
        <div class="container grid cgrid-2">
          <h1>About me.</h1>
          <p>
            I am Vihaan Dutta and am currently attending Deep Run High School as
            a freshman. I am part of
            <a
              href="https://teachers.henrico.k12.va.us/deeprun/cit/"
              target="_blank"
              >Deep Run's CIT Program</a
            >
            which is a magnet center designed to provide resources for
            technology students as I to have an extensive learning of
            information technology throughout our high school experience. At
            present, I indulge in programming and new technologies and on
            occasion publish my own software and scripts on my
            <a href="https://github.com/vihdutta" target="_blank">Github page</a
            >.
          </p>
        </div>
      </div>
      <!-- Content: Website -->
      <div class="topic">
        <div class="container grid cgrid-2">
          <p>
            This website was made having sustainability as a principle in
            development. Though I haven't completed that yet, I am hoping to
            achieve it through having external, updating files. As of the time I
            am updating this, this website is made with Golang as the backend,
            plus HTML and CSS for the frontend. I am looking forward to adding
            JavaScript in the future if I decide to learn it.
          </p>
          <h1>This website.</h1>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <div class="container grid cgrid-3">
        <div>
          <h1>Vihaan</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/webapps">Web Apps</a></li>
          </ul>
        </nav>
        <div class="social">
          <a href="https://github.com/vihdutta" target="_blank"
            ><i class="fab fa-github fa-2x"></i
          ></a>
          <a href="https://discord.com/brand-new" target="_blank"
            ><i class="fab fa-discord fa-2x"></i
          ></a>
          <a href="https://www.instagram.com/vihaan_dutta/" target="_blank"
            ><i class="fab fa-instagram fa-2x"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
