<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hello, I'm Vihaan Dutta. This is who I am."
    />
    <meta name="author" content="Vihaan Dutta" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/stylesheets/main-style.css" />
    <link rel="stylesheet" href="/static/stylesheets/media-query-style.css" />
    <title>Projects</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Projects</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/webapps">Web Apps</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Showcase -->
    <section class="showcase">
      <div class="container grid">
        <div class="showcase-text">
          <h1>My Github Page</h1>
          <p>
            I have created and published some programming projects onto Github.
            You can preview and visit my favorites here. Along with that, you can also
            see some statistics about my projects on Github on the
            <a href="/statistics">statistics page.</a>
          </p>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <div>
          <h1><a href="https://github.com/vihdutta/autosort">autosort</a></h1>
          <h2>A lightweight file-copying interface.</h2>
        </div>
        <div class="floatl">
          <img
            src="https://raw.githubusercontent.com/vihdutta/autosort/master/newlogor.ico"
            alt="The autosort logo"
            width="250"
          />
        </div>
        <div>
          <p>
            Autosort is a lightweight file-copying interface. It allows you to
            copy several directories to another folder while also having the
            ability to create folders for each file type, create folders for
            each source directory, and more! One of its distinct features is
            making sure files are copied without overwriting each other by adding
            a (1), (2), (3), etc. If you want to have these features and more,
            download the executable on
            <a href="https://github.com/vihdutta/autosort/releases/latest"
              >Github.</a
            >
          </p>
        </div>
      </div>
      <div class="quotetext container">
        <div class="quote">
          <h3>"{{ .quote.Text }}" - {{ .quote.Author }}</h3>
        </div>
        <h2>I haven't created any other notable projects yet... Check back later.</h2>
      </div>
    </section>
    <!-- Add stuff on this line for nice banner-->
    <!-- Footer -->
    <footer class="footer">
      <div class="container grid cgrid-3">
          <div>
            <h1>Vihaan</h1>
            <p>Copyright &copy; 2021</p>
          </div>
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/webapps">Web Apps</a></li>
            </ul>
          </nav>
          <div class="social">
            <a href="https://github.com/vihdutta" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="twitter" target="_blank"><i class="fab fa-discord fa-2x"></i></a>
            <a href="https://www.instagram.com/vihaan_dutta/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
          </div>
      </div>
    </footer>
  </body>
</html>
