<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="description" content="Hello, I'm Vihaan Dutta. This is who I am.">
      <meta name="author" content="Vihaan Dutta">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">
      <title>My Projects</title>
   </head>
   <body>
      <!-- Navbar -->
      <div class="navbar">
         <div class="container flex">
            <h1 class="logo">Projects</h1>
            <nav>
               <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
               </ul>
            </nav>
         </div>
      </div>

      <!-- Showcase -->
      <section class="showcase">
          <div class="container grid">
              <div class="showcase-text">
                <h1>This is who I am.</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci voluptates facere natus assumenda voluptatibus. Harum cum corporis provident autem exercitationem, tenetur nihil illo aperiam ut itaque, impedit perspiciatis vitae sint!</p>
              </div>
              <div class="showcase-form card">
                  <h2>Request a Demo</h2>
              </div>
          </div>
      </section>
   </body>
</html>