<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="description" content="Hello, I'm Vihaan Dutta. This is who I am.">
      <meta name="author" content="Vihaan Dutta">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">
      <title>Projects.</title>
   </head>
   <body>
      <!-- Navbar -->
      <div class="navbar">
         <div class="container flex">
            <h1 class="logo">Projects.</h1>
            <nav>
               <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/statistics">Statistics</a></li>
               </ul>
            </nav>
         </div>
      </div>

      <!-- Showcase -->
      <section class="showcase">
          <div class="container grid">
              <div class="showcase-text">
                <br>
                <h1>My Github Page</h1>
                <p>
                    I have created and published some programming projects onto Github. 
                    You can preview and visit them here. Along with that, you can also
                    see some statistics about my projects on Github on the <a href="/statistics">statistics
                    page.</a>
                </p>
              </div>
          </div>
      </section>
      <section class="content">
          <div class="container gridlarge">
             <div class="content-text">
               <br>
               <h1><a href="https://github.com/vihdutta/autosort">autosort</a></h1>
               <h3>A lightweight file-copying interface.</h3>
               <br>
               <img src="https://raw.githubusercontent.com/vihdutta/autosort/master/newlogor.ico" alt="The autosort logo" width="250">
            </div>
          </div>
      </section>
   </body>
</html>